<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite guice-stage="DEVELOPMENT" name="Default suite">
  <test verbose="2" name="Default test">
    <classes>
      <class name="sample.Basics_Program"/>
      <class name="sample.Enabled_Program"/>
      <class name="sample.FirstMaven"/>
    </classes>
  </test> <!-- Default test(failed) -->
</suite> <!-- Default suite -->
